


#trinta img{
    margin-left:200px;
    width:800px;
    height:100px;
}

#form1 {
    margin-left: 200px;
    width: 800px;
    height: 400px;
}

#trintaum img {
    margin-left: 200px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 580px;
}