

    #cinquenta img {
    margin-left:200px;
    width:800px;
    height:100px;
}




#form1 {
    margin-left: 200px;
    width: 800px;
    height: 250px;
    position: absolute;
    top: 110px;
}



#cinquenta1 img {
    margin-left: 200px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 710px;
}

