


      #oitenta img {
    margin-left:200px;
    width:800px;
    height:100px;
}




#form1 {
    margin-left: 200px;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 110px;
}



#oitenta1 img {
    margin-left: 200px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 685px;
}


