#vinte img {
    margin-left:200px;
    width:800px;
    height:100px;
}




#form1 {
    margin-left: 200px;
    width: 800px;
    height: 300px;
    position: absolute;
    top: 110px;
    left: 10px;
}



#vinteum img {
    margin-left: 200px;
    width: 800px;
    height: 100px;
    position: absolute;
    top: 730px;
    left: 10px;
}
